.ur-dropdown {
  &__trigger {
    @extend .btn;
    @extend .btn-light;
    @apply flex items-center;
    &:after {
      content: "";
      border: 0.25rem solid transparent;
      border-bottom-width: 0;
      border-top-color: currentColor;
    }
  }
  .dropdown-items {
    @extend .list-group;
    @apply bg--bg text--text;
    min-width: 16rem;
    font-weight: normal;
    text-transform: initial;
    .dropdown-item {
      @extend .list-group-item;
      @extend .list-group-item-action;
      &.disabled {
        @apply opacity-50 cursor-not-allowed;
      }
      &__text {
        @apply flex-grow;
      }
      &.-text {
        font-weight: normal;
        cursor: default;
        &:hover {
          background: transparent;
        }
      }
    }
  }
  .dropdown-menu {
    @apply bg--bg p-4 rounded shadow text--text;
    font-weight: unset;
    text-transform: unset;
  }
}
.ur-dropdown .dropdown-items .form-group {
  @apply border-b flex items-center gap-4 m-0 px-4 py-2;
  min-height: 3.5rem;
  &:last-child {
    @apply border-0;
  }
  &____root {
    @apply border-0 block p-0;
  }
}
