@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap.scss";
@import "./unrest.scss";

/* rjsf form title */
legend#root__title {
  @apply font-bold text-3xl my-2;
}

/* maybe move into tailwind config */
.bottom-100 {
  bottom: 100%;
}

.left-100 {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.top-100 {
  top: 100%;
}
