@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap.scss";
@import "./unrest.scss";

/* maybe move into tailwind config */
.bottom-100 {
  bottom: 100%;
}

.left-100 {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.top-100 {
  top: 100%;
}

/* rjsf specific */
/* form title */
legend#root__title {
  @apply font-bold text-3xl my-2;
}

/* error message on validation fail. */
.has-error .error-detail {
  @apply text-red-700 text-sm px-2 -my-1;
}
