@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bootstrap.scss";
@import "./dropdown.scss";
@import "./unrest.scss";
@import "./brands.scss";
@import "./scrollbar.scss";
@import "./typeahead.scss";

:root {
  --bg: theme('colors.gray.100');
  --bg-alt: theme('colors.gray.200');
  --text: theme('colors.gray.900');
  --text-alt: theme('colors.gray.700');
  --border: theme('colors.gray.300');
}

.theme-dark_mode {
  --bg: theme('colors.gray.900');
  --bg-alt: theme('colors.gray.700');
  --text: theme('colors.gray.100');
  --text-alt: theme('colors.gray.300');
  --border: theme('colors.gray.800');
}

input, textarea, select {
  background: transparent;
  color: var(--text);
}

option {
  background: var(--bg);
  color: var(--text);
}

*, ::before, ::after {
  border-color: var(--border)
}

/* maybe move into tailwind config */
.bottom-100 {
  bottom: 100%;
}

.left-100 {
  left: 100%;
}

.right-100 {
  right: 100%;
}

.top-100 {
  top: 100%;
}

/* rjsf specific */
/* form title */
legend#root__title {
  @apply font-bold text-3xl my-2;
}

/* error message on validation fail. */
.has-error .error-detail, .ur-form .form-error {
  @apply text-red-700 text-sm px-2 -mt-1;
}
