body {
  /* stops scrollbar from popping in and out when page height changes */
  overflow-y: scroll;
  overflow-x: hidden;
  @apply bg--bg text--text;
}

html, body {
  height: 100%;
}

html, body, #react-app, #app {
  min-height: 100%
}

#react-app, #app {
  @apply flex flex-col mx-auto;
  > .app-content {
    flex-grow: 1;
  }
}

.loading-box {
  @apply relative flex items-center justify-center;
  min-height: 4em;
  &:after {
    content: "";
    @apply absolute block -mt-4 -ml-4 w-8 h-8 rounded-full;
    animation: btn_loadspin 1.1s infinite linear;
    border: 3px solid;
    border-color: transparent currentColor currentColor transparent;
    height: 2em;
    left: 50%;
    top: 50%;
    width: 2em;
  }
}

/* button loading */
.btn.loading {
  overflow: hidden;
  position: relative;
  &:before, &:after {
    content: "";
    display: block;
    position: absolute;
  }
  &:before {
    background: rgba(128, 128, 128, 0.5);/* todo this shuld be tailwind variable */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &:after {
    @apply -mt-4 -ml-4 w-8 h-8;
    animation: btn_loadspin 1.1s infinite linear;
    border-radius: 50%;
    border: 3px solid;
    border-color: transparent currentColor currentColor transparent;
    height: 2em;
    left: 50%;
    top: 50%;
    width: 2em;
  }
}

@keyframes btn_loadspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ur-footer {
  @apply text-center p-8 mx-4 mt-16 border-t;
}

.snackbar {
  @apply fixed bottom-0 left-0 w-full;
  .container {
    @apply px-2 m-auto;
  }
  .item {
    position: relative;
    top: 0;
    transition: linear 250ms;
    &.dismissed {
      overflow: hidden;
      top: 4rem;
      opacity: 0;
    }
  }
}

.link,
p > a,
ul.browser-default a,
ol.browser-default a,
.unrest-markdown a {
  @apply text-blue-500 cursor-pointer;
  &.router-link-exact-active {
    @apply underline;
  }
}

.unrest-markdown {
  h1, .h1 {
    @apply mt-8;
  }
  h2, .h2 {
    @apply mt-4;
  }
  h3, .h3 {
    @apply mt-4;
  }
  h4, .h4 {
    @apply mt-2;
  }
  h5, .h5 {
    @apply mt-2;
  }
  h6, .h6 {
    @apply mt-1;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    &:first-child {
      @apply mt-0;
    }
  }
}

p > a {
  @apply underline
}

.unrest-markdown ul,
ul.browser-default {
  @apply list-disc;
}

.unrest-markdown ol,
ol.browser-default {
  @apply list-decimal;
}

.unrest-markdown ul,
ul.browser-default,
.unrest-markdown ol,
ol.browser-default {
  @apply list-inside;
  li {
    @apply mb-2;
  }
}

blockquote {
  @apply p-4 border-l-8 mb-6;
  p:last-child { margin-bottom: 0; }
}

.divider {
  @apply flex items-center w-full;
  &:before, &:after {
    content: "";
    @apply flex-grow border-b;
  }
  &:before {
    @apply mr-4;
  }
  &:after {
    @apply ml-4;
  }
}

.fa-admin {
  &:before { content: "\f1c0" }
}

.form-group .checkbox > label {
  cursor: pointer;
}

.fa {
  line-height: inherit;
  font-weight: inherit;
}

.modal {
  &.-absolute {
    position: absolute;
  }
  &.-relative {
    position: relative;
  }
}

@mixin modal-size($size, $theme) {
  .modal .modal-content.-#{$size}, .modal.-#{$size} .modal-content {
    width: $theme;
  }
}

@include modal-size(sm, theme('screens.sm'));
@include modal-size(sm, theme('screens.md'));
@include modal-size(sm, theme('screens.lg'));
@include modal-size(sm, theme('screens.xl'));
@include modal-size(sm, theme('screens.2xl'));
@include modal-size(auto, auto);

.modal .modal-content {
  max-width: 100%;
}

.toast-list {
  @apply fixed bottom-0;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, 0);
  width: 420px;
}

.unrest-floating-actions {
  @apply fixed bottom-0 right-0 m-4 flex gap-2 text-lg;
  &.-left {
    @apply left-0;
    right: unset;
  }
}

.text-success {
  @apply text-green-800;
}

.text-danger {
  @apply text-red-800;
}

.unrest-auth-social {
  &__or {
    @apply flex justify-center mb-4;
  }
  &__buttons {
    @apply flex justify-center gap-x-4;
  }
}

.unrest-grid {
  @apply flex gap-x-4 items-center;
}

.unrest-checkboxes {
  @apply flex flex-wrap gap-2;
}